= content_for :styles do
  = stylesheet_link_tag "sessions"
    
  
%header
  .inner
    
    .logo-box
      %a{href:"/"}
        %img.logo{src:"/assets/icon.svg"}
        %p StaffPlan
    
    .login-box
      = form_tag sessions_path, { autocomplete: "off" }do
        .input-wrap 
          %p login:
        .input-wrap
          = email_field_tag :email, params[:email], { placeholder: "email address" }
        .input-wrap
          = password_field_tag :password, params[:password], { placeholder: "password" }
        .input-wrap
          = submit_tag "sign in"
        
.overview-wrapper 
  .detailed
    .inner
      %h1 What is Staffplan?
      = t('sessions.new.registration_overview_html')
              
  .brief
    .inner
        
  
  
%footer
  %ul
    %li
      %a{ href:"https://github.com/rescuedcode/StaffPlan", target:"_blank" } Open Source
    %li
      %a{ href:"https://github.com/rescuedcode/StaffPlan/issues", target:"_blank" } Issue Tracker
    %li.pull-right
      %a{ href:"http://goinvo.com", target:"_blank" } by Involution Studios
      