%section
  %h1= t('.sign_in')

  = form_tag sessions_path do
    .field
      = label_tag :email, t('.email')
      = email_field_tag :email, params[:email], autofocus: true
    
    .field
      = label_tag :password, t('.password')
      = password_field_tag :password, params[:password]
    
    .actions
      = submit_tag t('.sign_in'), :id => "commit_btn"
      
      .password-reset.boxy
        = link_to t('.password_reset'), new_password_reset_path 
      
      .clear
      
      .boxy.larger
        = link_to "Register", new_registration_path, :id => "register_btn"
      

