%section
  %h1
    = t('.instructions') 
= form_for(@user, :url => password_reset_path) do |f|
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
    
  .actions 
    = f.submit t('.update_and_login')
