- content_for(:stylesheets) do
  = stylesheet_link_tag('password_resets')
%section
  %h1
    = t('.change_password')
  .instructions
    = t('.instructions')
  = form_for @user, url: password_reset_path, builder: StaffPlanFormBuilder do |f|
    = f.password_field :password
    = f.password_field :password_confirmation
    .actions 
      = f.submit t('.update_and_login')
