- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('password_resets')
%section
  %h1= t('.title')
  %p.instructions= t('.instructions')
  .password
  = form_tag password_resets_path do
    %p.label= t('.label')
    = text_field_tag :email
    .actions.cf
      = submit_tag t('.submit'), :class => "btn rounded"
      = link_to t('.cancel'), "/sessions/new"

