Hi #{@user.first_name.strip}, 
#{@admin.name} just set up an account for you.

All you need to do is follow the link below, make sure your credentials are A-OK and pick a password. 
It takes less than 20 seconds.

Click this link to get started:

#{link_to accept_invite_url(token: @user.registration_token), accept_invite_url(token: @user.registration_token), method: :put}

Have questions? Contact #{@admin.name} (your Staffplan company account administrator) at #{@admin.email}"

