- content_for(:stylesheets) do
  = stylesheet_link_tag('staffplans')

%section
  %ul
    - if @user.present?
      - @users.each do |user|
        %li
          .user-info
            = image_tag user.gravatar, {:class => "gravatar"}
          = link_to user.full_name, staffplan_path(user)
          .controls
            = link_to "Edit user", edit_user_path(user)
            = link_to "Go to staff plan", staffplan_path(user)
    - else
      = "No inactive users"
  = link_to "Back to staff plans", staffplans_path
