- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans')
  
%section
  .user-header
    %header
      = link_to("Add Staff", new_user_path)
    %table.weeks
      %tr
        %td{rowspan: 2}
          .month= link_to("&nbsp;".html_safe, staffplans_path(from: 3.months.ago(@from)), class: 'previous')
        
        - last_month = @date_range.first.month
        
        - @date_range.each_with_index do |date, idx|
          %td
            .month
              - if idx == 0 || last_month != date.month
                = Date::ABBR_MONTHNAMES[ date.month ]
              
          - last_month = date.month
          
        %td{rowspan: 2}
          .month= link_to("&nbsp;".html_safe, staffplans_path(from: 3.months.from_now(@from)), class: 'next')
        
      %tr
        - @date_range.each do |date|
          
          %td
            .month= "W#{(date.mday.to_f / 7.0).ceil.to_i}"
        
        
  %ul.users
    - @users.each do |user|
      %li
        = render partial: 'shared/user-info', locals: {user: user, url: staffplan_url(user)}
        %ul.week-hour-counter
          - @date_range.each do |date|
            - css_class = ((date <= Date.today) ?  'passed' : '')
            - work_weeks_for_date = user.work_weeks.for_projects(user.current_company.projects.map(&:id)).select { |ww| ww.cweek == date.cweek && ww.year == date.year }
            - actual_or_estimated_hours = date.past? ? :actual_hours : :estimated_hours
            - total = work_weeks_for_date.map { |ww| ww.send(actual_or_estimated_hours) || 0 }.inject(:+) || 0
            - if total == 0 && actual_or_estimated_hours == :actual_hours
              - css_class = ''
              - total = work_weeks_for_date.map { |ww| ww.send(:estimated_hours) || 0 }.inject(:+) || 0
            
            %li{class: css_class, style: "height: #{total}px"}
              %span= total
