- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans')
%section
  .user-header
    %header
      = link_to "Add Staff", new_user_path
      %span.sorting
        %span
          = "Sort by"
        %span.name
          %span
            = link_to("name", staffplans_path(:sort => "name", :order => @sort == "name" ? (@order == "asc" ? "desc" : "asc") : "asc", :from => @start))
          %span
            = @sort == "name" ? (@order == "desc" ? raw("&#9660;") : raw("&#9650")) : ""
        %span.workload
          %span
            = link_to("workload", staffplans_path(:sort => "workload", :order => @sort == "workload" ? (@order == "asc" ? "desc" : "asc") : "asc", :from => @start))
          %span
            - if @sort.nil?
              = raw "&#9660;" 
            - else 
              = @sort == "workload" ? ((@order.nil? || @order == "desc") ? raw("&#9660;") : raw("&#9650;")) : "" 
    = render :partial => "date_switcher", :locals => { :date_range => @date_range, :sort => @sort.nil? ? "workload" : @sort.to_s, :order => @order.nil? ? "asc" : @order.to_s}
  %ul.users
    - @users.each do |user|
      %li
        = render partial: 'shared/user-info', locals: {user: user, url: staffplan_url(user)}
        %ul.week-hour-counter
          = user.chart_for_date_range(@date_range)
  .inactive-users
    = link_to "Show inactive users", inactive_staffplans_path
