- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans')
  
%section
  %header
    %h2 All Staff
    
    .from-to== From #{@from.strftime("%m/%e/%Y")} to #{@to.strftime("%m/%e/%Y")}
    
  .user-header
    %table.weeks
      %tr
        %td{rowspan: 2}
          .month= link_to("&nbsp;".html_safe, staffplans_path(from: 3.months.ago(@from)), class: 'previous')
        
        - last_month = @date_range.first.month
        
        - @date_range.each_with_index do |date, idx|
          %td
            .month
              - if idx == 0 || last_month != date.month
                = Date::ABBR_MONTHNAMES[ date.month ]
              
          - last_month = date.month
          
        %td{rowspan: 2}
          .month= link_to("&nbsp;".html_safe, staffplans_path(from: 3.months.from_now(@from)), class: 'next')
        
      %tr
        - @date_range.each do |date|
          
          %td
            .month= "W#{(date.mday / 7) + 1}"
        
        
  %ul.users
    - @users.each do |user|
      %li
        .user-info
          = image_tag(user.gravatar, class: 'gravatar')
          = link_to("#{user.name}", user, class: 'user')
        
        %ul.week-hour-counter
          - @date_range.each do |date|
            - total = user.work_weeks.select { |ww| ww.cweek == date.cweek && ww.year == date.year }.map { |ww| ww.estimated_hours || 0 }.inject(:+) || 0
            %li{class: ((date <= Date.today) ?  'passed' : ''), style: "height: #{total}px"}
              %span= total
