- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans')
  
%section
  .user-header
    %header
      = link_to("Add Staff", new_user_path)
      - if @sort == "name"
        - sorting_criterion = :workload
      - elsif @sort == "workload" || @sort.nil?
        - sorting_criterion = :name
      = link_to("Sort by #{sorting_criterion.to_s}", staffplans_path(:from => @start, :sort => sorting_criterion))
    = render :partial => "date_switcher", :locals => { :date_range => @date_range, :sort => @sort.to_s }
        
  %ul.users
    - @users.each do |user|
      %li
        = render partial: 'shared/user-info', locals: {user: user, url: staffplan_url(user)}
        %ul.week-hour-counter
          = user.chart_for_date_range(@workload[user.id], @date_range)
