- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans', 'jquery-ui-1.8.17')
  
- content_for(:javascript_includes) do
  :coffeescript
    window._meta =
      assignments: #{@target_user.decorate.assignments_as_json}
      clients: new ClientList(#{@clients})
      fromDate: "#{@from}"
    
    $( ->
      window._User = new User #{@target_user_json}
      window._UserView = new views.staffplans.UserView
        model: window._User
    )
