- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('staffplans', 'jquery-ui-1.8.17')
  
- content_for(:javascript_includes) do
  = javascript_include_tag('staffplans/show/models/user', 'staffplans/show/models/client', 'staffplans/show/models/project', 'staffplans/show/models/work_week')
  = javascript_include_tag('staffplans/show/views/user_view', 'staffplans/show/views/project_view', 'staffplans/show/views/work_week_list_view')
  = javascript_include_tag('jquery-ui-1.8.17.custom.min')
  
  :javascript
    window._meta =
      { clients: new ClientList(#{@clients.to_json})
      , days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      , months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      , abbr_days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
      , abbr_months: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    }
    
    $(function() {
      window._User = new User( #{@target_user_json} )
    })
