= form_for @user, :builder => StaffPlanFormBuilder do |f|
  -if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :first_name, :placeholder => "First Name"
  = f.text_field :last_name, :placeholder => "Last Name"
  = f.text_field :email, :placeholder => "user@host.tld"
  
  - unless @user.new_record? 
    = f.password_field :password
    = f.password_field :password_confirmation

  .actions
    = f.submit (@user.new_record? ? 'Send Invitation' : 'Save Changes')

