= form_for @user, :builder => StaffPlanFormBuilder do |f|
  -if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :first_name, :placeholder => "First Name"
  = f.text_field :last_name, :placeholder => "Last Name"
  = f.text_field :email, :placeholder => "user@host.tld"
  = f.fields_for @membership do |g| 
    .roles
    - if current_user.administrates? @membership.company
      - Membership.values_for_roles.each do |role|
        .role
          = check_box_tag "roles[]", role.to_s, @membership.roles?(role)
          = role.to_s

    - if current_user.handles_financials_of?(current_user.current_company)
      .salary_information
        = g.text_field :salary
        = g.text_field :full_time_equivalent
        = g.text_field :weekly_allocation
        = g.text_field :rate
        = g.select :payment_frequency, ["hourly", "weekly", "monthly", "yearly"].map {|type| [type, type]}
    - unless @membership.new_record?
      .user-activation
        = g.label :disabled, "Disable user for company #{current_user.current_company.name}?", {:class => "info"} 
        = g.check_box :disabled
        = g.label :archived, "Archive user for company #{current_user.current_company.name}?", {:class => "info"}  
        = g.check_box :archived
  - unless @user.new_record? 
    = f.password_field :password
    = f.password_field :password_confirmation

  .actions
    = f.submit (@user.new_record? ? 'Send Invitation' : 'Save Changes')

