= form_for @user, :builder => StaffPlanFormBuilder do |f|
  -if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :first_name, :placeholder => "First Name"
  = f.text_field :last_name, :placeholder => "Last Name"
  = f.text_field :email, :placeholder => "user@host.tld"
  
  = f.fields_for @membership do |g| 
    #employment_status
      = g.select :employment_status, [["Full-Time Employee", "fte"], ["Contractor", "contractor"], ["Intern", "intern"]]
    #permissions
      - [:admin, :financials].each do |perm|
        .perm
          = check_box_tag "permissions[]", perm.to_s, @membership.permissions?(perm)
          = label_tag :permissions, perm.to_s.capitalize
    #salary_information
      .salary.fte
        = g.text_field :salary, {:type => "number"}
        = g.text_field :full_time_equivalent, {:type => "number"}
      .salary.contractor
        = g.text_field :weekly_allocation, {:type => "number"}
        = g.select :payment_frequency, %w(hourly daily weekly monthly yearly).map { |t| [t,t] }
        = g.text_field :rate, {:type => "number"}
    - unless @membership.new_record?
      .user-activation
        = g.label :disabled, "Disable user for company #{current_user.current_company.name}?", {:class => "info"} 
        = g.check_box :disabled
        = g.label :archived, "Archive user for company #{current_user.current_company.name}?", {:class => "info"}  
        = g.check_box :archived
  - unless @user.new_record? 
    = f.password_field :password
    = f.password_field :password_confirmation

  .actions
    = f.submit (@user.new_record? ? 'Send Invitation' : 'Save Changes')

