- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')
  
%h1 Listing users

%table
  %tr
    %th login
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
