- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')

%section
  %header
    .user-info
      %h2
        = image_tag @user.gravatar
        = link_to @user.full_name, staffplan_path(@user)
      %span.last-updated
        = "(as of #{time_ago_in_words(@user.updated_at)} ago)"
    = link_to 'Edit', edit_user_path(@user)
    = link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete

  %ul
    %li= @user.email
