- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')

%section
  %header
    .user-info
      %h2
        = image_tag @user.gravatar
        = @user.name
    = link_to 'Edit', edit_user_path(@user)
    = link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete

  %ul
    %li= @user.email

  = form_for(current_user) do |f|
    = f.label :current_company
    = select(:user, :current_company_id, current_user.companies.collect{|c| [ c.name, c.id ]})
    %br
    = f.submit
