- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')

%section
  %header
    %h2
      = image_tag @user.gravatar
      = @user.name
    = link_to 'Edit', edit_user_path(@user)
    = link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete

  %ul
    %li= @user.email

