- if assigns.except("_routes").any? { |key, instance| instance.errors.any? }
  #error_explanation
    - assigns.values.each do |obj| 
    - if obj.errors.any?
      %div{:class => "#{obj.class.name.downcase}-errors"}
        %h3= "#{pluralize(obj.errors.count, "error")} prohibited this #{obj.class.name.underscore.gsub(/\_/, " ")} from being saved:"
        %ul
          - obj.errors.full_messages.each do |msg|
            %li
              = msg
