- small ||= nil
- email ||= nil

.user-info{ class: small ? "small" : "" }
  = link_to user do
    = image_tag user.gravatar, class: 'gravatar'
    %span.name=  user.name
    - if email
      %span.email= "<#{user.email}>"
