- small ||= nil
- email ||= nil
- url   ||= user

.user-info{ class: small ? "small" : "" }
  = link_to url do
    = image_tag user.gravatar, class: 'gravatar'
    %span.name
      = link_to user.full_name, staffplan_path(user)
    - if email
      %span.email= "<#{user.email}>"
