= form_for @client, :builder => StaffPlanFormBuilder do |f|
  -if @client.errors.any?
    #error_explanation
      %h3= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg
  
  = f.text_field :name
  = f.text_area :description
  = f.check_box :active

  .actions
    = f.submit t('.save')
    = link_to t('.cancel'), clients_path

