- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('clients')

%h1 Listing clients

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client', new_client_path
