- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('clients')

%section
  %header
    %h2= @client.name
    = link_to 'Edit', edit_client_path(@client)
    = link_to 'Destroy', @client, :confirm => 'Are you sure?', :method => :delete

  .info
    %pre.description= @client.description
    .active{ 'data-active' => @client.active }= @client.active ? t('.active') : t('.inactive')

  - if @client.projects.any?
    .info
      %h3= t('.projects')
      %ul.projects= render(partial: "project", collection: @client.projects)

