= form_for @project, :builder => StaffPlanFormBuilder do |f|
  -if @project.errors.any?
    #error_explanation
      %h3= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
          
  = f.text_field :name
  = f.select :client_id, options_from_collection_for_select(Client.all, 'id', 'name')
  = f.check_box :active
    
  .actions
    = f.submit t('.save')

