= form_for @project, :builder => StaffPlanFormBuilder do |f|
  -if @project.errors.any?
    #error_explanation
      %h3= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
          
  = f.text_field :name
  .client_selector
    = f.select :client_id, current_user.current_company.clients.map { |client| [client.name, client.id] } << ["New Client", "new"], selected: @project.client.try(:id)
    = fields_for @project.build_client do |c|
      .input.new-client
        = c.label :name, "Client Name"
        = c.text_field :name, disabled: "disabled" 
  = f.check_box :active
  - unless @assignment.nil?
    = f.fields_for @assignment do |g| 
      = g.check_box :proposed
  - if current_user.handles_financials_of? current_user.current_company 
    = f.text_field :total_cost    
  .actions
    = f.submit t('.save')

