- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')
%section
  %header
    %h2= t('.listing_projects')
    = link_to t('.new_project'), new_project_path
    .user-header
      = render :partial => 'date_switcher', :locals => {:date_range => @date_range, :target => "projects"}

  %ul
    - @projects.each do |project|
      = project.info_and_controls
      %li.chart
        %ul.week-hour-counter
          = project.chart_for_date_range(@date_range, @totals_per_week[project.id], @max_size)
