- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')
  
%h1= t('.listing_projects')

%table
  %tr
    %th= t('.name')
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= link_to("[#{project.client.name}] #{project.name}", project)
      %td= link_to(t('.edit'), edit_project_path(project))
      %td= link_to(t('.destroy'), project, :confirm => t('.delete_confirmation'), :method => :delete)

%br

= link_to(t('.new_project'), new_project_path)
