- content_for(:stylesheets) do
  = stylesheet_link_tag('projects')



- content_for(:javascript_includes) do
  :coffeescript
    window._meta =
      clients: new ClientList(#{@clients})
      users: new UserList(#{current_user.current_company.users_json})
      days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      abbr_days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
      fromDate: "#{@from}"
    
    $( ->
      window._Project = new Project #{ProjectDecorator.new(@project).project_json}
      window._ProjectView = new views.projects.ProjectView
        model: window._Project
      window._Project.view = window._ProjectView
      window._ProjectView.render()
    )

