= form_for @company do |f|
  .company-info
    = f.label :name
    = f.text_field :name
  .user-info
    = fields_for @user do |u|
      = u.label :name
      = u.text_field :name
      %br
      = u.label :email
      = u.text_field :email
      %br
      = u.label :password
      = u.password_field :password
  .submit
    = f.submit "Create" 
