%section
  %header
    %h2 Add Company 
- if @user.persisted? and @user.companies.empty?
  .message
    %p 
      = "It seems that your company has been deleted in the system"
      = "Simply give a new company name to create a new one" 
= form_for @company do |f|
  .company-info
    = f.label :name, "Company Name"
    %br
    = f.text_field :name
  .company-user-info
    %h3
      = "User Information"
    %br
    = fields_for @user do |u|
      = u.label :first_name
      %br
      = u.text_field :first_name
      %br
      = u.label :last_name
      %br
      = u.text_field :last_name
      %br
      = u.label :email
      %br
      = u.text_field :email
      %br
      - unless @user.persisted? and @user.companies.empty?
        = u.label :password
        %br
        = u.password_field :password
        %br
        = u.label :password_confirmation
        %br
        = u.password_field :password_confirmation
  .submit
    = f.submit "Create" 
