!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= t('.staffplan')
    
    = stylesheet_link_tag "application", :media => 'screen, projection'
    = yield(:stylesheets)
    
    = javascript_include_tag "application"
    = yield(:javascript)
    
    = csrf_meta_tags
    
  %body{:id => controller_name, :class => action_name}
  
    = render(:partial => "shared/flash", locals: {flash: flash})
    
    %header
      .inner
        %ul
          %li#nav-my-staff-plan= link_to(t('.my_staff_plan'))
          %li#nav-all-staff= link_to(t('.all_staff'))
          %li#nav-clients= link_to(t('.clients'))
          %li#nav-projects= link_to(t('.projects'))
          %li#current-company= current_user.current_company_selector
        
        .header-content
          = yield(:header_content)
         
        .right
          = mail_to("staffplan-feedback@goinvo.com", "Feedback", encode: "javascript", subject: "StaffPlan Feedback")
          = link_to(t('.sign_out'), sign_out_path)
      
    %section.main
      .content= yield
      
    %footer
      = link_to('Github Repo', 'https://github.com/rescuedcode/StaffPlan', :target => "_blank")
      = link_to('Involution Studios', 'http://goinvo.com', :target => "_blank")
      
      - if is_mobile_device?
        = link_to("Mobile Site", "?mobile_view=true")