!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= t('.staffplan')
    
    = stylesheet_link_tag "application", :media => 'screen, projection'
    = yield(:stylesheet_includes)
    = javascript_include_tag "application"
    
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      
    = csrf_meta_tags
    
  %body{:id => controller_name, :class => action_name}
  
    = render(:partial => "shared/flash", locals: {flash: flash})
    
    %header
      .inner
        %ul
          %li#nav-my-staff-plan= link_to(t('.my_staff_plan'), staffplan_path(current_user))
          %li#nav-all-staff= link_to(t('.all_staff'), users_path)
          %li#nav-clients= link_to(t('.clients'), clients_path)
          %li#nav-projects= link_to(t('.projects'), projects_path)
        
        .header-content
          = yield(:header_content)
        
        .right
          = link_to(t('.feedback'), "mailto:staffplan-feedback@goinvo.com?subject=Staffplan Feedback")
          |
          = link_to(t('.sign_out'), sign_out_path)
      
    %section.main
      .content= yield
      
    %footer
      = link_to('Github Repo', 'https://github.com/rescuedcode/StaffPlan', :target => "_blank")
      = link_to('Involution Studios', 'http://goinvo.com', :target => "_blank")
    
    = yield(:javascript_includes)
