!!!
%html
  %head
    %title= t('.staffplan')
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag "sessions", :media => 'screen, projection'
    = csrf_meta_tags
  
  %body
    = render(:partial => "shared/flash", locals: {flash: flash})
    
    %section.main
      = yield